<tr id="<%= dom_id provider %>">
  <td class="text-bold-500"><%= link_to provider.name, provider %></td>
  <td><%= provider.provider_type %></td>
  <td class="text-bold-500"><%= edit_link(provider) %></td>
</tr>