<% content_for :title, "Editing provider" %>

<section id="multiple-column-form">
  <div class="row match-height">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3>Edit Provider</h3>
        </div>
        <%= render "form", provider: @provider %>
      </div>
    </div>
  </div>
</section>
