<p style="color: green"><%= notice %></p>

<% content_for :title, "Providers" %>

<h1>Providers</h1>

<div id="providers">
  <!-- table striped -->
    <div class="table-responsive">
        <table class="table table-striped mb-0">
            <thead>
                <tr>
                    <th>NAME</th>
                    <th>PROVIDER TYPE</th>
                    <th>TOOLS</th>
                </tr>
            </thead>
            <tbody>
              <%= render @providers %>
            </tbody>
        </table>
    </div>
</div>

<%= link_to "<i class='bi bi-plus'></i> New provider".html_safe, new_provider_path, class: "btn btn-primary" %>
