<div id="<%= dom_id user %>">
  <p>
    <strong>Email address:</strong>
    <%= user.email_address %>
  </p>

  <p>
    <strong>Is admin:</strong>
    <%= user.is_admin %>
  </p>

  <p>
    <strong>Provider:</strong>
    <%= user.provider.present? ? user.provider.name : "No provider" %>
  </p>

</div>
