<section class="hero">
    <div class="hero-content">
        <div class="hero-text text-center">
            <h1 class='pt-5'>Medstick</h1>
            <p class='fs-5 mt-3'>Manage content for CMES: Continuing Medical Education on a Stick</p>
            <div class="hero-cta">
                <a href="docs/index.html" class="btn btn-outline-primary">Documentation</a>
                <a href="demo/index.html" class="btn btn-primary">Demo</a>
            </div>
        </div>
        <div class="hero-image d-flex justify-content-center mt-5">
            <img src="assets/images/hero.png" class="col-md-8 col-12 mx-auto" alt="Demo Image">
        </div>
    </div>
</section>
