<% content_for :title, "New region" %>

<h1>New region</h1>
<%= render "form", region: @region %>

<br>

<div class="col-sm-12 d-flex justify-content-end">
    <%= link_to "Back to regions", regions_path %>
</div>
