<% flash.each do |type, message| %>
  <div data-controller="flash"
        data-flash-message-value="<%= message %>"
        data-flash-type-value="<%= type == 'notice' ? 'success' : 'error' %>">
  </div>
<% end %>
